.border-bottom-1px(@color) {
	position: relative;
	&::after{
		position: absolute;
		left: 0;
		bottom: 0;
		content:'';
		display:block;
		width: 100%;
		border-bottom: 1px solid @color;
	}
}

.border-left-1px(@color) {
	position: relative;
	&::after{
		position: absolute;
		left: 0;
		bottom: 0;
		content:'';
		display:block;
		height: 100%;
		border-left: 1px solid @color;
	}
}
.border-right-1px(@color) {
	position: relative;
	&::after{
		position: absolute;
		right: 0;
		bottom: 0;
		content:'';
		display:block;
		height: 100%;
		border-right: 1px solid @color;
	}
}
.border-top-1px(@color) {
  position: relative;
  &::after{
    position: absolute;
    left: 0;
    top: 0;
    content:'';
    display:block;
    width: 100%;
    border-top: 1px solid @color;
  }
}

.border-none{
	&::after{
		border: none;
	}
}

.bg-image(@url){
 	background-image:~'url(@{url}@2x.png)';
 		@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
 		  background-image:~'url(@{url}@3x.png)';
	    }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-bottom-1px{
    &::after{
      -webkit-transform: scaleY(.7);
      -moz-transform: scaleY(.7);
      -ms-transform: scaleY(.7);
      -o-transform: scaleY(.7);
      transform: scaleY(.7);
    }
  }
  .border-right-1px{
    &::after{
      -webkit-transform: scaleX(.7);
      -moz-transform: scaleX(.7);
      -ms-transform: scaleX(.7);
      -o-transform: scaleX(.7);
      transform: scaleX(.7);
    }
  }
  .border-top-1px{
    &::after{
      -webkit-transform: scaleY(.7);
      -moz-transform: scaleY(.7);
      -ms-transform: scaleY(.7);
      -o-transform: scaleY(.7);
      transform: scaleY(.7);
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-bottom-1px{
    &::after{
      -webkit-transform: scaleY(.5);
      -moz-transform: scaleY(.5);
      -ms-transform: scaleY(.5);
      -o-transform: scaleY(.5);
      transform: scaleY(.5);
    }
  }
  .border-right-1px{
    &::after{
      -webkit-transform: scaleX(.7);
      -moz-transform: scaleX(.7);
      -ms-transform: scaleX(.7);
      -o-transform: scaleX(.7);
      transform: scaleX(.7);
    }
  }
  .border-top-1px{
    &::after{
      -webkit-transform: scaleY(.7);
      -moz-transform: scaleY(.7);
      -ms-transform: scaleY(.7);
      -o-transform: scaleY(.7);
      transform: scaleY(.7);
    }
  }
}